.search-input-container {
  position: relative;
  max-width: 500px;
  width: 100%;
  display: inline-block;
}

.search-input {
  width: calc(100% - 85px);
  height: 38px;
  font-size: 16px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(206, 212, 218);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 70px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.search-input:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

.search-input:disabled {
  background-color: rgb(233, 236, 239);
}

.shortcut-badge {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  border: 1px solid rgb(222, 226, 230);
  border-radius: 2px;
  height: 24px;
  padding: 0 4px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
